// variables

// mixins

// =============================================================================
// SVendor prefix
// =============================================================================
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// global styles
body {
	background-color: #BFBFBF;
}
// no padding
.no-pad {
	padding: 0 0 0 0;
}

.no-pad-right {
	padding-right: 0;
}
.no-pad-left {
	padding-left: 0;
}

// contact the edges
.contact-top {
	top: 0;
}

.contact-bottom {
	bottom: 0;
}

.contact-left {
	left: 0;
}

.contact-right {
	right: 0;
}
