// variables
$thm-magenta: #dd554f;
$thm-intaniared: #AA171C;
$thm-white: #efeeee;
$thm-black: #0e0b08;
$thm-lightgreen: #33c1c9;
$thm-yellow: #f2a334;
$thm-asphalt: #2c3e50;

// mixins

// =============================================================================
// SVendor prefix
// =============================================================================
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// global styles
body {
	background-color: #BFBFBF;
}
// no padding
.no-pad {
	padding: 0 0 0 0;
}

.no-pad-right {
	padding-right: 0;
}
.no-pad-left {
	padding-left: 0;
}

// contact the edges
.contact-top {
	top: 0;
}

.contact-bottom {
	bottom: 0;
}

.contact-left {
	left: 0;
}

.contact-right {
	right: 0;
}

.page-content {
	background-color: #FEFEFE;
	margin-top: -10px;
	margin-bottom: -10px;
	@media #{$small-up} {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@media #{$large-up} {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
}
