// variables

// mixins


// global styles

// no padding
.no-pad {
	padding: 0 0 0 0;
}

.no-pad-right {
	padding-right: 0;
}
.no-pad-left {
	padding-left: 0;
}

// contact the edges
.contact-top {
	top: 0;
}

.contact-bottom {
	bottom: 0;
}

.contact-left {
	left: 0;
}

.contact-right {
	right: 0;
}

.blur-cover {
	
}