.content-info { }


#footer {
	background-color: $thm-asphalt;
	position: relative;
	width: 100%;
	clear: both;
	padding-top: 70px;
	padding-bottom: 80px;
	color: white;

	h3 {
		color: inherit;
	}
}

.large {
	font-size: 2em;
	vertical-align: middle;
}