.banner { }

.top-bar {
	min-width: 95%;
}

.top-bar {
	background: none;
	img {
		display: inline-block;
		margin-top: -23px;
		margin-right: 5px;
	}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: none;
	transition: all .15s ease-in-out;
	&:hover {
		color: $topbar-bg-color;
		background-color: rgba(white, .9);
	}
}

.top-bar-section ul li>a {
	font-weight: 300;
	font-size: .9rem;
}

.top-bar-section .dropdown li a {
	font-weight: 300;
	font-size: .9rem;
	background-color: $topbar-bg-color;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
	background-color: $topbar-bg-color;
}

.top-offset {
	height: $topbar-height;
	width: 100%;
	clear: both;
}

.header-title {
	display: inline-block;
	.se {
		margin-top: -10px;
	}

	.cu {
		margin-top: -40px;
		font-weight: 100;
		font-size: .8em;
	}
}