#header {
    background: url('https://unsplash.imgix.net/45/QDSMoAMTYaZoXpcwBjsL__DSC0104-1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width:100%;
    margin: 0 auto;
    position: relative;
    height:700px;
}

#header-overlay {
  background-color:Black;
  min-width:100%;
  margin: 0 auto;
  position: relative;
  height: 700px;
}

#header-label {
  position: absolute;
  top: 40%;
  line-height: 200px;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
}

.overlay {
  opacity: 0;
}

/* class for after scroll */

// .scrolled {
//   background: rgba(0, 0, 0, .8);
//   height: 50px;
//   line-height: 50px;
// }