table {
	margin: 30px auto;
	width: 100%;
}

tr:nth-child(1) {
	background-color: $thm-magenta;
	td {
		color: white;
	}
}

tr td:nth-child(3), td:nth-child(1) {
	text-align: center;
	padding: 0 5%;
}

.paper-like-content-wrapper h3:not(:first-of-type) {
	background: $thm-yellow;
	padding: 20px 0px;
	
	@media only screen and (min-width: 100px) {
		margin-left: -30px;
		padding-left: 20px;
	}

	@media #{$medium} {
		padding-left: 60px;
		margin-left: -60px;
	}
	@media #{$large} {
		padding-left: 70px;
		margin-left: -160px;
	}
	
	color: white;
	margin-top: 60px;
	margin-bottom: 50px;

}