.single-tribe_events .tribe-events-event-meta {
    background: #fff;
}

#tribe-events-content {
	position: relative;
	margin-bottom: 48px;
	padding: 1px 0;
	/*background-color: rgba(245, 245, 245, 1);*/
}